/**** Discount Ascii Warehouse ****/
/******* Author: Mike Wagner ******/

/**** Style Guide and Varables ****/
$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFEB3B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$breakpoint-tablet: 768px;

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.App {
  text-align: left;
  background-color: #FAFAFA;
  min-width: 285px;

  /**** Header Section ****/
  header {
    background-color: $primary-color-dark;
    width: 100%;
    color: $primary-color-text;

    h1 {
      padding: 19px 22px;
      margin: 0;
      text-align: left;
      font-size: 22px;
      display: inline-block;
      width: 52%;
    }

    .cart-btn-wrapper {
      position: absolute;
      top: 1%;
      right: 1%;
      width: 48%;

      &:hover {
        cursor: pointer;

        .cart-total-price {
          color: $primary-color-light;
        }

        .cart-btn {
          background-image: url('../img/shopping_cart_btn_hover.png');
        }
      }

      .cart-btn {
        background-image: url('../img/shopping_cart_btn.png');
        background-size: 75%;
        background-position: 46%;
        background-repeat: no-repeat;
        height: 50px;
        width: 57px;
        float: right;
      }

      .cart-total-price {
        float: right;
        font-size: 14px;
        color: #fff;
        line-height: 50px;
        margin: 0 2%;
      }
    }
  }
  /**** End Header Section ****/

  /**** Key Visual Section ****/
  .key-visual-wrapper {
    width: 100%;
    background-color: $primary-color;
    height: 300px;
    font-weight: 600;
    color: $primary-color-text;

    .key-visual {
      width: 647px;
      height: 100%;
      margin: auto;

      .tag-line-wrapper {
        display: inline-block;
        vertical-align: middle;
        height: 300px;
        line-height: 300px;

        .tag-line {
          width: 291px;
          float: left;
          margin: 25% 0;
          text-align: center;
          line-height: 31px;
        }
      }

      .key-visual-img {
        background-image: url('../img/lenny_face_white.png');
        background-repeat: no-repeat;
        background-size: 115%;
        background-position: 41%;
        width: 51%;
        height: 300px;
        float: right;
      }
    }
  }
  @media (max-width: $breakpoint-tablet) {
    .key-visual-wrapper {
      height: 424px;

      .key-visual {
        width: 285px;

        .tag-line-wrapper {
          height: 251px;
          line-height: 251px;

          .tag-line {
            margin: 14% 0;
          }
        }

        .key-visual-img {
          width: 100%;
          height: 115px;
          float: none;
        }
      }
    }
  }

  /**** Cart Section ****/
  .cart-hidden {
    display: none;
  }

  .cart-table {
    position: absolute;
    background: #fff;
    right: 0;
    overflow: scroll;
    border-collapse: collapse;
    min-width: 253px;

    td {
      padding: 10px;
      cursor: pointer;
      text-align: left;
      height: 51px;

      // Hide less useful content for mobile.
      @media (max-width: $breakpoint-tablet) {
        &:nth-child(2):not(.table-footer-price), &:nth-child(3) {
          display: none;
        }
      }

      &:nth-child(4), &:nth-child(5) {
        text-align: right;
      }

      &:nth-child(6) {
        text-align: center;
        width: 23px;
      }
    }

    tr:hover:not(.table-footer) {
      background-color: $primary-color-light;

      .add-to-cart-btn {
        font-weight: 800;
        font-size:23px;
      }
    }

    tbody:nth-child(odd) {
        background-color: #F2F2F2;
    }

    tbody:nth-child(even) {
        background-color: #fff;
    }

    .cart-table-footer {
      background-color: $primary-color-dark;
      color: $primary-text-color;
      font-size: 17px;
      font-weight: 600px;

      td {
        &:nth-child(1) {
          text-align: left;
          padding: 13px;
        }

        &:nth-child(2) {
          text-align: right;
          padding: 13px;
        }
      }
    }
  }
  /**** End Cart Section ****/

  /**** Loading Bar Section ****/
  .loader-indicator.fade-enter,
  .loader-content.fade-enter {
    opacity: 0;
  }

  .loader-indicator.fade-enter-active,
  .loader-content.fade-enter-active {
    opacity: 1;
  }

  .loader-indicator.fade-leave,
  .loader-content.fade-leave {
    opacity: 1;
  }

  .loader-indicator.fade-leave-active,
  .loader-content.fade-leave-active {
    opacity: 0;
  }

  .loader-content,
  .loader-indicator {
    transition: opacity 1s;
  }

  .loader-ellipsisDot {
    padding: 0 3px 0 1px;
    opacity: 0;
    animation-duration: 1300ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes loader-ellipsisDot1 {
    0%   { opacity: 0; }
    25%  { opacity: 0; }
    35%  { opacity: 1; }
    100% { opacity: 1; }
  }

    @keyframes loader-ellipsisDot2 {
    0%   { opacity: 0; }
    50%  { opacity: 0; }
    60%  { opacity: 1; }
    100% { opacity: 1; }
  }

  @keyframes loader-ellipsisDot3 {
    0%   { opacity: 0; }
    75%  { opacity: 0; }
    85%  { opacity: 1; }
    100% { opacity: 1; }
  }

  .loader-ellipsisDot:nth-child(1) {
    animation-name: loader-ellipsisDot1;
  }

  .loader-ellipsisDot:nth-child(2) {
    animation-name: loader-ellipsisDot2;
  }

  .loader-ellipsisDot:nth-child(3) {
    animation-name: loader-ellipsisDot3;
  }

  .loading-bar {
    display: block;
    margin: auto;
    width: 31%;
    text-align: center;
    color: $secondary-text-color;
  }

  .hide-loading-bar {
    display: none;
  }
  /**** End Loading Bar Section ****/

  /**** Advertisement Section ****/
  .ad-tag-line {
    font-weight: 600;
    margin: 2% auto 2%;
    width: 277px;
    color: $secondary-text-color;
  }

  .ad {
    display: block;
    margin: 2% auto;
  }

  .product-grid-guide {
    font-size: 12px;
    font-weight: 600;
    margin: 2% 1.2% 1%;
    color: $secondary-text-color;
  }
  /**** End Advertisement Section ****/

  /**** Product Grid Section ****/
  #product-grid-wrapper {
    width: 98%;
    margin: auto;

    .product-grid {
      overflow-x: scroll;

      .product-grid-table {
        border-collapse: collapse;

        tr:hover:not(.table-footer) {
          background-color: $primary-color-light;

          .add-to-cart-btn {
            font-weight: 800;
            font-size: 29px;
          }
        }

        .table-advertisement {
          padding: 10px;
          cursor: pointer;
          text-align: center;
          border: 0px;

          .ad {
            display: block;
            margin: 2% auto;
          }
        }

        th, td {
          padding: 10px;
          cursor: pointer;
        }

        th {
          background-color: $primary-color-dark;
          color: $primary-color-text;
          text-align: left;
          min-width: 55px;
          width: 22%;
          height: 30px;

          // Face
          &:nth-child(1) {
            min-width: 182px;
          }

          // Date
          &:nth-child(2) {
            min-width: 182px;
          }

          // ID
          &:nth-child(3) {
            width: 4%;
            min-width: 25px;
          }

          // Price and Size
          &:nth-child(4), &:nth-child(5) {
            width: 7%;
            text-align: right;
          }

          // Add to cart
          &:nth-child(6) {
            width: 3%;
            min-width: 24px;
            font-size: 0px;
            background-image: url("../img/add_shopping_cart_white.png");
            background-size: 55%;
            background-repeat: no-repeat;
            background-position: 50%;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        td {
          text-align: left;
          height: 74px;

          &:nth-child(4), &:nth-child(5) {
            text-align: right;
          }

          &:nth-child(6) {
            text-align: center;
          }
        }

        tbody:nth-child(odd) {
          background-color: #fff;
        }

        tbody:nth-child(even) {
            background-color: #f2f2f2;
        }

        .hidden-product-grid-footer {
          display: none;
        }

        .product-grid-footer {
          background-color: $primary-color-dark;
          color: #fff;
          font-size: 20px;

          .table-footer > td > div {
            text-align: center;
            padding: 2%;
          }
        }
      }
    }
  }
  /**** End Product Grid Section ****/
}
/**** End App ****/
